<header class="vibe-header">
    <div class="minimal-nav">
        <a href="/">WORKS</a>
        <a href="/about">ABOUT</a>
        <a href="mailto:bluedehua@gmail.com">CONTACT</a>
    </div>
    <h1 class="my-name">XU QIU CHENG</h1>
</header>